<?xml version="1.0"?>
<model>
  <name>Fixed Wing</name>
  <version>1.0</version>
  <sdf version='1.0'>aslfixedwing.sdf</sdf>

  <author>
   <name>Joseph Lorenzetti</name>
   <email>jlorenze@stanford.edu</email>
  </author>

  <description>
    This is a model of a fixed wing airplane. The mesh used is of the ASL fixed wing aircraft, but the aerodynamics model comes from the PX4 "plane" model.
  </description>
</model>
